.ContainerForm{
    height: 700px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(101, 120, 207));
}
.ProductosLi{
    color: rgb(0, 0, 0);
    background-color:rgb(119, 199, 231);
    width: 1000px;
    position: relative;
    top: 100px;
    border: 4px solid black;
}
.FormButton{
    margin: 10px;
}