.containerNav{
    background: white;
    height:40px;
    font-size:17px;
    
}
.letras{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-left:10px;
}
.letras:hover{
    font-size: 19px;
}