.flex {
  width: 75%;
  height: 500px;
  background: rgb(255, 255, 255);
  border: 2px black solid;
  margin-top: 40px;
}
.imgDetail {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 60px;
  border: 5px black dotted;
}
.titulo {
  color: rgb(0, 0, 0);
}
.tituloProducto {
  color: rgb(0, 0, 0);
  width: 200px;
  height: 50px;
  margin: 20px;
}
.descripcion {
  color: rgb(0, 0, 0);
  font-size: 17px;
  width: 250px;
  height: 130px;
  margin: 105px;
}
.containerRight {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
  right: 25px;
}
.botonCarrito {
  width: 100px;
  height: 80px;
  border: 3px solid black;
  color: rgb(0, 0, 0);
  text-decoration: none;
  position: relative;
  right: 70px;
  top: 50px;
}
